.App {
  text-align: center;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.book-item {
  display: flex;
  width: 300px;
  background: #f9f9f9;
}

.book-title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.book-description {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.book-availability {
  font-weight: bold;
}
